name: dev-training-dataops-validation

on: [push, pull_request]

permissions:
  contents: write

jobs:
  static_analysis:
    name: "Kod Kalite Kontrolü ve Otomatik Düzeltme"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Install sqlfluff"
        run: pip install sqlfluff-templater-dbt

      - name: "SQL Lint & Fix"
        id: lint_fix
        run: sqlfluff fix models --dialect databricks --ignore parsing --force
        continue-on-error: true

      - name: "Commit changes"
        if: steps.lint_fix.outcome == 'success' || steps.lint_fix.outcome == 'failure'
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "style: sqlfluff auto-fix linting errors"

  data_freshness:
    name: "Veri Güncelliği"
    runs-on: ubuntu-latest
    steps:
      - name: "Informative Message"
        run: |
          echo "Data Freshness adimi calistirildi."
          echo "Su anki tablolarinizda tarih kolonu olmadigi icin gercek kontrol atlandi."
          echo "Veri guncelligi varsayilan olarak 'OK' kabul edildi."

  run_and_test:
    name: "Model Build & Gold Tests"
    needs: [static_analysis, data_freshness]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: "Install dbt"
        run: pip install dbt-databricks
      - name: Install dbt Dependencies
        run: dbt deps --profiles-dir .
      - name: "dbt Build"
        env:
          DBT_DATABRICKS_HOST: ${{ secrets.DBT_HOST }}
          DBT_DATABRICKS_HTTP_PATH: ${{ secrets.DBT_HTTP_PATH }}
          DBT_DATABRICKS_TOKEN: ${{ secrets.DBT_TOKEN }}
        run: dbt build --profiles-dir .

  create_docs:
    name: "Create Documentations"
    steps:
      - name: Generate dbt Docs
        run: dbt docs generate --profiles-dir .

      - name: Prepare Docs for Deployment
        run: |
          mkdir -p public
          cp target/index.html public/
          cp target/manifest.json public/
          cp target/catalog.json public/
          cp target/graph.gpickle public/ || true 

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

  notify:
    name: "Bilgilendirme"
    needs: run_and_test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: "Final Status Check"
        run: |
          echo "İşlem tamamlandı. Durum: ${{ needs.run_and_test.result }}"
          
          # Eğer run_and_test başarılı değilse, bu adımı da hata koduyla kapat
          if [ "${{ needs.run_and_test.result }}" != "success" ]; then
            echo "Hata: Ana pipeline başarısız olduğu için bu bildirim de hata vererek sonlanıyor."
            exit 1
          fi
